body {
  background-color: #ffffff;
}
.box {
width: 100%;
height: 10vw;
background-color:#0f172a;
color:white;
font-size: 80%;
justify-content: center;  
align-items: center;  
position: absolute;
top: 0%;
padding: 0;           
margin: 0;             
box-sizing: border-box;    
text-align: center;
display: flex;                          
}

.container {
  display: flex;
height: 100%;
width: 100%;
font-size: 8vw;
justify-content: center;
text-align: center;
justify-content: center;
align-items: center;
padding: 0;
margin: 0;
}

.text {
display: flex;
flex-direction: column;
width: 30vw;
height: 28vw;
background-color: #f1f5f9;
color: #0f172a;
border-left: 3px solid #14b8a6;
position: absolute;
top: 300px;
left: 4vw;
font-size: 1.65vw;
line-height: 1;
}
h1 {
font-size: 2.5vw;
position: absolute;
color: #0f172a;
display: flex;
justify-content: center;
top: 10vw;
left: 45vw;
}
.image-crop {
width: 400px; 
height: 500px;
overflow: hidden;
margin-top: 300px;
margin-left: 1200px;
}
.image-crop img{
width:100%;
height:80%;
object-fit: cover;
object-position: 10% 80%;
}
.achievements {
display: flex;
flex-direction: column;
background: #f1f5f9;
color: #0f172a;
width: 37vw;
height: 28vw;
position: absolute;
top: 300px;
left: 27vw;
font-size: 1.65vw;
line-height: 1;
}
